# Python
__pycache__/
.python-version
.venv/
*.pyc

# Env files
.env
backend/.env
backend/.env.example.local
frontend/.env

# Node/Vite
frontend/node_modules/
frontend/dist/

# Build / virtualenv artifacts
.DS_Store
*.log
