version: "3.9"

services:
  backend:
    image: ${BACKEND_IMAGE:-000000000000.dkr.ecr.us-east-1.amazonaws.com/chatia-backend:latest}
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"

  frontend:
    image: ${FRONTEND_IMAGE:-000000000000.dkr.ecr.us-east-1.amazonaws.com/chatia-frontend:latest}
    depends_on:
      - backend
    ports:
      - "80:80"
